:not(input):not(textarea) {
  -webkit-user-select: none;
  user-select: none;
}

.toast-container {
  > div > div {
    padding: 12px 16px;
    background-color: #212121;
    color: #fffffff2;
    border-radius: 8px;
  }
}

.zaui-sheet {
  .zaui-sheet-content {
    min-height: unset;
  }
}

.zaui-btn {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    opacity: 0.75;
  }
}

.zaui-btn-tertiary {
  background-color: var(--skeleton);

  &:active,
  &:focus {
    background-color: var(--skeleton);
  }
}

.zaui-tabs-tabbar {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
}
.zaui-tab-content {
  flex: 1;
  overflow-y: hidden;
}
.zaui-tab {
  height: 100%;
  overflow-y: auto;
}

.zaui-select-suffix-hidden {
  .zaui-input-group-addon {
    display: none;
  }
}
.zaui-select-header {
  align-items: center;
  border-bottom: 3px solid #f4f0f0;
}
.zaui-select-title {
  // text-align: left;
  padding: 16px 12px;
}

.zaui-select-panel {
  max-height: 50vh;
}
